
    body {
      margin: 0;
      padding: 0;
      color:#ddd;
      background-image:url(https://static.wixstatic.com/media/669e60_89ffc34e41674d2ea5bbd05240f0a115.jpg/v1/fill/w_640,h_852,al_t,q_85,usm_0.66_1.00_0.01,enc_auto/669e60_89ffc34e41674d2ea5bbd05240f0a115.jpg);
      background-repeat: no-repeat;
      background-size: cover;
     
    }
    .name {
      font-family: sans-serif;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: .4rem;
      border-bottom: 1px solid #ddd;
    }
    table{
      width: 100%;
      color:#ddd;
      font-size: 20%;
      
      text-align: center;
      border-collapse: collapse;
      font-size: 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    td {
      border-left: 1px solid;
      padding-top: 2%;
      height: 33%;
      width: 33%;
    }

    td:first-child {
      border-left: transparent;
    }

    tr{
      border-bottom: 1px solid;
    }

    tr:last-child {
      border-bottom: transparent;
    }


    td:hover{
      background-color: #dddddd27;
    }

    img{
      padding: 5%;
      border-radius: 10%;
      height: 70%;
      width: 70%;
    }

    .titulo{
      color: antiquewhite;
      font-size: 40px;
      margin: 5%;
      text-align: center;
    }
  