
    body {
      margin: 0;
      padding: 0;
      color:#ddd;
      background-image:url(https://media.istockphoto.com/id/1065957550/es/foto/cocinero-profesional-el-chef-prepara-un-plato-con-verduras-y-setas-en-una-sart%C3%A9n-sobre-un.jpg?s=170667a&w=0&k=20&c=rPlwzZrHge69nc_iWFGCV53EM7O4-Ha9qvD4ioZ4UgQ=);
      background-repeat: no-repeat;
      background-size: cover;
     
    }
    .name {
      font-family: sans-serif;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: .4rem;
      border-bottom: 1px solid #ddd;
    }
    table{
      width: 100%;
      color:#ddd;
      font-size: 20%;
      
      text-align: center;
      border-collapse: collapse;
      font-size: 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    td {
      border-left: 1px solid;
      padding-top: 2%;
      height: 33%;
      width: 33%;
    }

    td:first-child {
      border-left: transparent;
    }

    tr{
      border-bottom: 1px solid;
    }

    tr:last-child {
      border-bottom: transparent;
    }


    td:hover{
      background-color: #dddddd27;
    }

    img{
      padding: 5%;
      border-radius: 10%;
      height: 70%;
      width: 70%;
    }

    .titulo{
      color: antiquewhite;
      font-size: 40px;
      margin: 5%;
      text-align: center;
    }
  